<div class="back" style="position: relative;"><%= link_to '<<', root_path %></div>
<header>
  <img src="http://i.imgur.com/EFGj4WP.png">
  <p id="notice"><%= notice %></p>
</header>
<div class="container">
  <h1>ABOUT THIS</h1>
  <p>The development of this site began as a study on full-stack web development to help hone my skills and become more employable by trying to re-create a site I once knew but is now long gone. During the slow development of what you see today, the fundamental concept changed many times and morphed into something very different from the original thought.</p>
  <p>What you see here is now an anonymous megaphone for your thoughts and feelings, allowing others to comment and feel with you as you go through life. Use it as you wish and know that your voice is heard.</p>
</div>
<footer>
  <p>Created by Sam Furr. <span class="links"><a href="http://www.twitter.com/hybls">twitter</a> | <a href="http://www.samneillfurr.com">me</a></span></p>
</footer>